@media screen and (min-width: 240px) {
    html,body,button,input,select,textarea {
        font-size:9px
    }
}

@media screen and (min-width: 320px) {
    html,body,button,input,select,textarea {
        font-size:12px
    }
}

@media screen and (min-width: 374px) {
    html,body,button,input,select,textarea {
        font-size:14px
    }
}

@media screen and (min-width: 400px) {
    html,body,button,input,select,textarea {
        font-size:15px
    }
}

@media screen and (min-width: 413px) {
    html,body,button,input,select,textarea {
        font-size:15.5px
    }
}

@media screen and (min-width: 426px) {
    html,body,button,input,select,textarea {
        font-size:16px
    }
}

@media screen and (min-width: 450px) {
    html,body,button,input,select,textarea {
        font-size:18px
    }
}

@media screen and (min-width: 480px) {
    html,body,button,input,select,textarea {
        font-size:18px
    }
}

@media screen and (min-width: 540px) {
    html,body,button,input,select,textarea {
        font-size:20.25px
    }
}

@media screen and (min-width: 590px) {
    html,body,button,input,select,textarea {
        font-size:22.13px
    }
}

@media screen and (min-width: 600px) {
    html,body,button,input,select,textarea {
        font-size:22.5px
    }
}

@media screen and (min-width: 640px) {
    html,body,button,input,select,textarea {
        font-size:24px
    }
}

@media screen and (min-width: 720px) {
    html,body,button,input,select,textarea {
        font-size:27px
    }
}

@media screen and (min-width: 800px) {
    html,body,button,input,select,textarea {
        font-size:30px
    }
}
@font-face {
    font-family: '04b_08Regular';
    src: url('font/04b_08_-webfont.eot');
    src: url('font/04b_08_-webfont.eot?#iefix') format('embedded-opentype'),
        url('font/04b_08_-webfont.woff') format('woff'),
        url('font/04b_08_-webfont.ttf') format('truetype'),
        url('font/04b_08_-webfont.svg#04b_08Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
    background-color:#0b98dd;
}
img{width:100%;}
.indexWrap{
    width:80%;
    height:16rem;
    position:absolute;
    left:50%;
    top:50%;
    margin-top:-8rem;
    margin-left:-40%;
}
.wap-content{
    height:21rem;
    margin-top:-10.5rem;
}
.img-box{
    width:20rem;
    margin:0 auto;
}
.user-box{
    width:8rem;
    margin:0 auto;
}
.index_title{
    font-size:2rem;
    color:#fff;
    font-weight:normal;
    margin-top:5px;
    text-align:center;
}
.index_text{
    width:15rem;
    margin:1rem auto;
}
.img1,.img2{
    text-align:center;
    margin:10px auto;
    width:12rem;
}
.btn-box{
    width:20rem;
    margin:30px auto 0 auto;
    text-align:center;
}
.btn{
    width:15rem;
    height:3rem;
    line-height:3rem;
    display:inline-block;
    text-align:center;
    color:#fff;
    font-size:1.2rem;
    border:1px #fff solid;
    border-radius:4px;
    background:none;
}

.loading{
    width:70%;
    height:14rem;
    margin:0 auto;
}
.loading p {
    text-align:center;
    font-size:.75rem;
    color:#fff;
}

.top{
    height:4rem;
    line-height:4rem;
    text-align:center;
    color:#fff;
    font-size:1.5rem;
    position:relative;
}
.top a{display:inline-block;color:#fff;font-size:1rem;}
.goback{
    width:3rem;
    height:3rem;
    position:absolute;
    left:1rem;
    top:.2rem;
}
.goback i{
    position: absolute;
    width: 1rem;
    height: 1rem;
    background: #0b98dd;
    left: 1rem;
    top: 1rem;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
}
.user-icon{
    width:3rem;
    height:3rem;
    line-height:normal;
    margin:.5rem 1rem 0 2rem;
    position:relative;
}
.user-icon i{
    position:absolute;
    width:1rem;
    height:1rem;
    background:url(../images/dot-tip.png) 0 0 no-repeat;
    right:-.5rem;
    top:.5rem;
}
.wrap{
    width:100%;
}
.login-wrap{
    margin-top:5rem;
}
.nav{
    width:90%;
    border:1px #69c9f5 solid;
    border-radius:3px;
    margin:1rem auto;
    overflow:hidden;
    height:3rem;
    line-height:3rem;
}

.nav a{
    float:left;
    width:25%;
    text-align:center;
    font-size:1rem;
    color:#9be1ff;
}
.nav a:hover{
    text-decoration:none;
}
.nav a.selected{
    background:#fff;
    color:#0392d8;
}

.navStep a{
    width:33.3333%;
}
.sub{
    width:90%;
    margin:0 auto;
}
.sub-box{
    display:none;
}
.sub-box p{
    text-align:left;
    color:#d4efff;
}
.list li{
    overflow:hidden;
    border:1px #69c9f5 solid;
    border-radius:3px;
    margin:1rem 0;
}
.list select{
    background: none;
    padding: 5px;
    font-size: 14px;
    border: 1px #9be1ff solid;
}
.macInpt input{
    height: 25px;
}
.list .change{
    margin:0;
    border:none;
    text-align:left;
}
.change a{color:#fff; text-decoration:underline;}
.chks{ vertical-align: middle;width:15px;height:15px;margin-right:5px;}
.list li span{
    float:left;
    height:3rem;
    line-height:3rem;
}
.list li .sp-l{
    width:30%;
    border-right:1px #69c9f5 solid;
    color:#fff;
    text-align:center;
}
.list li .sp-r{
    width:65%;
    text-align:left;
    position:relative;
}
.sp-r label{
    position:absolute;
    height:2.8rem;
    left:10px;
    color:#9be1ff;
}
.inpt{
    height:1.5rem;
    line-height:1.5rem;
    padding:1px 10px;
    border:none;
    outline:none;
    background:none;
    color:#fff;
    width:90%;
}
#setAccount .inpt,#changePwdLay .inpt{width:70%;}
.pwd-icon{
    width:2rem;
    height:2rem;
    position:absolute;
    right:0;
    top:0;
    cursor:pointer;
}
.bot{
    margin:10px 0;
    overflow:hidden;
}
.bot a{color:#fff;}
.bot i{
    width:21px;
    height:21px;
    float:left;
    background:url(../images/icon.png) 0 0 no-repeat;
}
.wifi-box{
    height:21rem;
    overflow-y:auto;
    overflow-x:hidden;
}
.wifi-list{
    height:20rem;
    overflow-y:auto;
    overflow-x:hidden;
    position:relative;
}
.wifi-list li{
    overflow:hidden;
    background:#24a5ea;
    border-bottom:1px #2dace2 solid;
    height:3rem;
    line-height:3rem;
    font-size:.875rem;
    color:#e0f0fa;
    opacity:.9;
    padding:0 10px;
}
.wifi-list li a{
    display:block;
    height:3rem;
    color:#e0f0fa;
}
.wifi-list li:last-child{
    border:none;
}
.wifi-list li .name{
    font-size:1.2rem;
    margin-right:10px;
    color:#fff;
    display:block;
    white-space:nowrap;
    overflow:hidden; 
    text-overflow:ellipsis;
    width:15rem;
}
.wifi{
    padding:0 10px;
}
.lvl{
    width:30px;
    height:24px;
    display:inline-block;
    position:relative;
    vertical-align:middle;
}
.lvl-1{
    background:url(../images/lvl-1.png) 0 0 no-repeat;
}
.lvl-2{
    background:url(../images/lvl-2.png) 0 0 no-repeat;
}
.lvl-3{
    background:url(../images/lvl-3.png) 0 0 no-repeat;
}
.lvl-4{
    background:url(../images/lvl-4.png) 0 0 no-repeat;
}
.failed{
    background:url(../images/failed.png) 0 0 no-repeat;
}
.lock{
    width:10px;
    height:10px;
    display:inline-block;
    position:absolute;
    right:-1px;
    bottom:-1px;
    background:url(../images/lock.png) 0 0 no-repeat;	
}

.wifiConnectLayer{	
    width:100%;
    position:relative;
    display:none;
}
.bg{
    opacity:.6;
    background:#0873a6;	
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    z-index:5;
    background:#0873a6;
    border-radius:3px;
}
.con{
    position:relative;
    z-index:10;
    overflow:hidden;
    background:#0873a6;
    border-radius:3px;
    padding-bottom:1.2rem;
}
.closebtn{ font-family:Verdana, Geneva, sans-serif;font-size:1.2rem;color:#fff;position:absolute;right:.5rem;top:1rem;width:2rem;height:1rem;line-height:1rem;cursor:pointer; text-align:center;}
.con p{
    text-align:center;
    color:#fff;
    font-size:1rem;
    margin-top:2rem;
    line-height:150%;
}
.con .list{	
    width:90%;
    margin:0 auto;
    overflow:hidden;
    text-align:center;
}
.con .list li{font-size:1rem;}
.con .inpt{
    z-index:5;
    position:relative;

}
.index_con{ background:none;}
.layer-btn{
    width:8.5rem;
    height:2rem;
    line-height:2rem;
}
.cannel{
    border-color:#69c9f5;
    color:#69c9f5;
}
.box{	
    width:90%;
    margin:1rem auto;
    overflow:hidden;
    text-align:center;
}


.guid{
    width:90%;
    margin:0 auto;
    color:#fff;
}

.text{
    position:absolute;
    width:315px;
    right:10px;
    top:40px;
    text-align:left;
    color:#fff;
}
.text h2{
    font-size:24px;
    font-weight:normal;
}
.text p{
    margin-top:15px;
}

.layer-t{
    width:273px;
    height:71px;
    margin:20px auto;
    background:url(../images/router.png) 0 0 no-repeat;
    position:relative;

}
.dot{
    width:16px;
    height:9px;
    background:url(../images/dot.png) 0 0 no-repeat;
    position:absolute;
    top:54px;
    display:none;
}
.error{
    width:17px;
    height:17px;
    background:url(../images/error.png) 0 0 no-repeat;
    position:absolute;
    top:54px;
    display:none;
}

.d1{left:95px;}
.d2{left:120px;}
.d3{left:145px;}


.hide{display:none;}
.show{display:block;}
.layer-suc{
    width:143px;
    height:104px;
    background:url(../images/suc.png) 0 0 no-repeat;
    margin:30px auto 0 auto;
}
.con2 .box{
    margin:30px auto;
}
.con2 p{
    margin-top:10px;
}

/*user*/
.para{
    width:15rem;
    height:7rem;
    margin:0 auto;
    position:relative;
    overflow:hidden;
}
.para img{
    position:absolute;
    left:0;
    top:0;
    z-index:1;
}
.para p{
    position:relative;
    color:#fff;
    font-size:.875rem;
    margin:.7rem 0 0 2.5rem;
    z-index:2;
}
.state{
    width:15rem;
    margin:0 auto;
}
.state div{width:7rem;margin:0 auto;}
.state p{font-size:1rem;color:#fff; text-align:center;margin-top:1rem;}

.menu{
    width:90%;
    margin:0 auto;
    overflow:hidden;
    text-align:center;
}
.menu li{
    width:45%;
    float:left;
    margin:1rem 2% 0 2%;
    padding:.5rem 0;
    border:1px #6fcef8 solid;
    border-radius:3px;
}
.menu li a{display:block;}
.menu span{
    display:block;
    height:2rem;
    line-height:2rem;
    color:#fff;
    font-size:1rem;
    text-align:center;
}
.menu .sp-1{
    display:inline-block;
    width:2rem;
    height:2rem;
}

/*在线终端*/
.client{
    width:80%;
    margin:1rem auto;
    position:relative;
    border:1px #77aed1 solid;
}
.client p{
    height:4rem;
    line-height:4rem;
    color:#c7e2ed;
    padding:0 1rem;
    font-size:1.3rem;
    background:#32a5e4;
}
.client-list{
    width:100%;
    position:relative;
    z-index:2;
    margin:0 auto;
    max-height:24.5rem;
    overflow-y:auto;
    overflow-x:hidden;
}
.client-list li{border-top:1px #77aed1 solid; overflow:hidden;}
.client-list span{float:left;height:3rem; line-height:3rem;color:#f5fbff; text-align:center;font-size:1rem;}
.client-list .s-1{width:15%;border-right:1px #77aed1 solid;}
.client-list .s-2{width:35%;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.client-list .s-3{width:25%;}
.client-list .s-4{width:20%;}

/*更多介绍*/
.more{
    border-top:1px #67c9f7 solid;
    overflow:hidden;
}
.more li{
    width:33.3333%;
    float:left;
    border-bottom:1px #67c9f7 solid;
    position:relative;
    height:8rem;

}
.more li:after{
    content:'';
    position:absolute;
    width:1px;
    height:100%;
    border-right:1px #67c9f7 solid;
    right:0;
    top:0; 
}
.more span{
    display:block;
    text-align:center;
    color:#fff;
    margin-top:1rem;
}
.more li span:first-child{
    width:5rem;
    height:5rem;
    margin:0 auto;
    position:relative;
}
.more li span:first-child img{
    position:absolute;
    left:50%;
    margin-left:-2rem;
    width:4rem;
    height:4rem;
    top:1.5rem;
}
.more .wd span:first-child img{
    width:5rem;
    margin-left:-2.5rem;
}
.check_channel{
    width: 100px;
    position: absolute;
    left: 10px;
    top:10px;
}
.navsp{
    width:5rem;
    display:inline-block;
    color:#fff;
}
.navsp_rad{
    vertical-align:middle;
    margin:0 .5rem;
    width:1rem;
    height:1rem;
}
.navsp label{cursor:pointer;}
.con .newtxt{text-align:left;padding:0 2rem;}
.wifiSel{margin-left:10px; background:none;padding:5px;border:1px #9be1ff solid;}
.list .nobd{border:none;color:#fff;}
.setBtn{color:#fff;}
.setBtn:hover{ text-decoration: underline;}
.menu li a{cursor:pointer;}
.mlsp{margin-left:6px;}
.macInpt{display:none;}
.mac_box{margin-left:6px;color:#fff;}

/*vpn设置*/
.bd-box{
	padding:1rem;
	color:#fff;
	text-align:center;
}
.vpn-hd{
    font-size:2.5rem;
    font-weight:normal;
    color:#fff;
    text-align:center;
}
.vpn-hd2{
    font-size:1.2rem;
    color:#fff;
    text-align:center;
}
.vpn-tit{
	margin:1rem 0;
	font-size:1.2rem;
}
.vpn-desc{
	margin:2rem 0;
}

.code-box{
	position:relative;
	text-align:left;
	height:3rem;
	line-height:3rem;
}
.code-box label{
	position:absolute;
	left:1rem;
	top:0;
	height:3rem;
	line-height:3rem;
	color: #77d1f8;
    cursor: text;
	width:100px;
}
.code-box .inpt{
	border:1px #e5e5e5 solid;
	height:2.6rem;
	line-height:2.6rem;
	width:50%;
	border-radius:5px;
}
.vpn-list .nobd{border:none;}
.code-btn{
	width:35%;
	height:3rem;
	line-height:3rem;
	text-align:center;
	color:#fff;
	background:#28a9e1;
	position:absolute;
	right:0;
	top:0;
	border:none;
	outline:none;
	cursor:pointer;
	border-radius:5px;
}
#vpn_reg .bg{_height:300px;}

.tc-box{
	margin:2rem auto;
	border:1px #d4efff solid;
	border-radius:15px;
	padding:6rem 0;
	color:#d4efff;
}
.tc-box p{
	font-size:1.2rem;
	margin:.5rem 0;
}

.pay{
	padding:0 0 0 1rem;
	text-align:left;
}
.pay-box{
	margin-top:.5rem;
}
.vpn-tit2{
	padding:.2rem 0;
	font-size:1.2rem;
	font-weight:bold;
	color:#fff;
}
.pay-ico{
	width:1.5rem;
	height:1.5rem;
	display:inline-block;
	margin-right:.5rem;
	vertical-align:middle;
}

.rdo{
	vertical-align:middle;
	margin-right:.5rem;
}
.pay-box li{
	padding-left:1rem;
	margin:.5rem 0;
}
.tc-box .bz{
	font-size:.875rem;
}




/*vpn设置 end*/